[submodule "repo/vivado-library"]
	path = repo/vivado-library
	url = https://github.com/Digilent/vivado-library.git
	branch = master
[submodule "sdk/ZUCA-test"]
	path = sdk/ZUCA-test
	url = ../ZUCA-test.git
